@import '../../../assets/_variables.scss';

.main-header {
    background-color: $main_white;
    padding: 25px 70px;

    .logo-area {
        img {
            height: 36px;
            width: auto;
        }
    }
}