<ng-container *ngIf="!isLoading">
  <app-global-navigation></app-global-navigation>
<main class="content" style="background-image: url({{bingImageBackgroundPath}})">
  <div class="flex-layout">
    <app-card-members-ranking
      [data]="membersList"
      (userSelected)="onUserSelected($event)"
      class="column"
    >
    </app-card-members-ranking>
    <app-card-member-info
      *ngIf="hasUserSelected"
      [data]="selectedUserData"
      [program]="userProgramData"
      class="column"
    >
    </app-card-member-info>
    <app-card-activity-feed
      *ngIf="hasUserSelected"
      [data]="userActivityData"
      class="column"
    >
    </app-card-activity-feed>
  </div>
</main>
</ng-container>
