.content {
  padding: 60px;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.flex-layout {
  display: flex;

  .column {
    flex-basis: calc(33.3% - 15px);
    margin: 0 20px;
  }
}

@media screen and (max-width: 960px) {
  .content {
    padding: 15px;
  }

  .flex-layout {
    flex-wrap: wrap;
    align-items: flex-start;

    .column {
      flex-basis: calc(50% - 50px);
      margin-bottom: 25px;
    }
  }
}

@media screen and (max-width: 768px) {
  .flex-layout .column {
    flex-basis: 100%;
  }
}
