<div class="tier">
    <div class="title-bar">
        <div class="current-plan">
            Gold
        </div>
        <div class="next-tier">
            <p>Next Tier</p>
            <p>Platinum</p>
            <i class="icon-info">i</i>
        </div>
    </div>
    <div class="progress">
        <figure id="tier-1" class="status inactive"></figure>
        <figure class="progress-line"></figure>
        <figure id="tier-2" class="status inactive"></figure>
        <figure class="progress-line"></figure>
        <figure id="tier-3" class="status active"></figure>
        <figure class="progress-line"></figure>
        <figure id="tier-4" class="status inactive"></figure>
        <figure class="progress-line"></figure>
        <figure id="tier-5" class="status inactive"></figure>
    </div>
</div>