<div class="card-member-info">
    <header class="card-header">
        <div class="member-info">
            <img src="https://preview.keenthemes.com/conquer/assets/img/profile/profile-img.png" alt="Member profile picture">
            <h3>Cameron Williamson</h3>
            <p>Sales Incentive Program Contributor</p>
        </div>
    </header>
    <span class="divider"></span>
    <div class="member-numbers">
        <div class="item">
            <div class="primary">
                <img src="../../assets/icon-intertwinedcircles-blue.svg" alt="Points">
                <p>1540</p>
            </div>
            <div class="sub">
                <p>Points</p>
            </div>
        </div>
        <div class="item">
            <div class="primary">
                <p>10450</p>
            </div>
            <div class="sub">
                <p>Miles</p>
            </div>
        </div>
        <div class="item">
            <div class="primary">
                <span>$</span>
                <p>350</p>
            </div>
            <div class="sub">
                <p>Currency</p>
            </div>
        </div>
    </div>
    <span class="divider"></span>
    <app-tier-progress></app-tier-progress>
    <span class="divider"></span>
</div>