<div class="card-members-ranking">
    <div class="content">
        <header class="card-header">
            <div class="title">
                <p>Pos.</p>
            </div>
            <div class="title">
                <p>Member</p>
            </div>
            <div class="title">
                <p>Points</p>
            </div>
        </header>
        <div class="members-list">
            <div class="member" *ngFor="let member of data; let i = index">
                <div class="info member-pos">
                    <p>{{i+1}}</p>
                </div>
                <div class="info">
                    <img *ngIf="member.image" src="{{member.image}}" alt="Member Picture">
                    <img *ngIf="!member.image" src="../../../assets/defaut-profile.png" alt="Member Picture">
                    <div class="member-name">
                        <p>{{member.name}}</p>
                    </div>
                </div>

                <div class="info member-points">
                    <p>{{member.balance.points}}</p>
                </div>
            </div>

        </div>
    </div>
</div>
