<div class="card-members-ranking">
    <div class="content">
        <header class="card-header">
            <div class="title">
                <p>Pos.</p>
            </div>
            <div class="title">
                <p>Member</p>
            </div>
            <div class="title">
                <p>Points</p>
            </div>
        </header>
        <div class="members-list">
            <div class="member">
                <div class="info member-pos">
                    <p>1</p>
                </div>
                <div class="info">
                    <img src="https://preview.keenthemes.com/conquer/assets/img/profile/profile-img.png" alt="Member Picture">
                    <div class="member-name">
                        <p>Savannah Nguyen</p>
                    </div>
                </div>
                
                <div class="info member-points">
                    <p>20</p>
                </div>
            </div>
            <div class="member">
                <div class="info member-pos">
                    <p>2</p>
                </div>
                <div class="info">
                    <img src="https://preview.keenthemes.com/conquer/assets/img/profile/profile-img.png" alt="Member Picture">
                    <div class="member-name">
                        <p>Savannah Nguyen</p>
                    </div>
                </div>
            
                <div class="info member-points">
                    <p>20</p>
                </div>
            </div>
            <div class="member">
                <div class="info member-pos">
                    <p>3</p>
                </div>
                <div class="info">
                    <img src="https://preview.keenthemes.com/conquer/assets/img/profile/profile-img.png" alt="Member Picture">
                    <div class="member-name">
                        <p>Savannah Nguyen</p>
                    </div>
                </div>
            
                <div class="info member-points">
                    <p>20</p>
                </div>
            </div>
            <div class="member">
                <div class="info member-pos">
                    <p>4</p>
                </div>
                <div class="info">
                    <img src="https://preview.keenthemes.com/conquer/assets/img/profile/profile-img.png" alt="Member Picture">
                    <div class="member-name">
                        <p>Savannah Nguyen</p>
                    </div>
                </div>
            
                <div class="info member-points">
                    <p>20</p>
                </div>
            </div>
            <div class="member">
                <div class="info member-pos">
                    <p>5</p>
                </div>
                <div class="info">
                    <img src="https://preview.keenthemes.com/conquer/assets/img/profile/profile-img.png" alt="Member Picture">
                    <div class="member-name">
                        <p>Savannah Nguyen</p>
                    </div>
                </div>
            
                <div class="info member-points">
                    <p>20</p>
                </div>
            </div>
            <div class="member">
                <div class="info member-pos">
                    <p>6</p>
                </div>
                <div class="info">
                    <img src="https://preview.keenthemes.com/conquer/assets/img/profile/profile-img.png" alt="Member Picture">
                    <div class="member-name">
                        <p>Savannah Nguyen</p>
                    </div>
                </div>
            
                <div class="info member-points">
                    <p>20</p>
                </div>
            </div>
            <div class="member">
                <div class="info member-pos">
                    <p>7</p>
                </div>
                <div class="info">
                    <img src="https://preview.keenthemes.com/conquer/assets/img/profile/profile-img.png" alt="Member Picture">
                    <div class="member-name">
                        <p>Savannah Nguyen</p>
                    </div>
                </div>
            
                <div class="info member-points">
                    <p>20</p>
                </div>
            </div>
            <div class="member">
                <div class="info member-pos">
                    <p>8</p>
                </div>
                <div class="info">
                    <img src="https://preview.keenthemes.com/conquer/assets/img/profile/profile-img.png" alt="Member Picture">
                    <div class="member-name">
                        <p>Savannah Nguyen</p>
                    </div>
                </div>
            
                <div class="info member-points">
                    <p>20</p>
                </div>
            </div>
            <div class="member">
                <div class="info member-pos">
                    <p>9</p>
                </div>
                <div class="info">
                    <img src="https://preview.keenthemes.com/conquer/assets/img/profile/profile-img.png" alt="Member Picture">
                    <div class="member-name">
                        <p>Savannah Nguyen</p>
                    </div>
                </div>
            
                <div class="info member-points">
                    <p>20</p>
                </div>
            </div>
            <div class="member">
                <div class="info member-pos">
                    <p>10</p>
                </div>
                <div class="info">
                    <img src="https://preview.keenthemes.com/conquer/assets/img/profile/profile-img.png" alt="Member Picture">
                    <div class="member-name">
                        <p>Savannah Nguyen</p>
                    </div>
                </div>
            
                <div class="info member-points">
                    <p>20</p>
                </div>
            </div>
        </div>
    </div>
</div>