<div class="card-activity-feed">
    <header class="card-header">
        <h3 class="title">Activity Feed</h3>
        <p class="subtitle">Show Filters</p>
    </header>
    <ul class="feed-list">
        <li class="item">
            <div class="icon-area">
                <img src="../../../assets/icon-circle-filled-blue.svg" alt="Icon">
            </div>
            <div class="item-content">
                <p class="date">Yesterday</p>
                <p class="message">Received <strong>100 points</strong> for completing the Incentive <strong>Imperdiet senectus sit.</strong></p>
            </div>
            <div class="divider"></div>
        </li>
        <li class="item">
            <div class="icon-area">
                <img src="../../../assets/icon-circle-filled-blue.svg" alt="Icon">
            </div>
            <div class="item-content">
                <p class="date">Yesterday</p>
                <p class="message">Received <strong>100 points</strong> for completing the Incentive <strong>Imperdiet senectus
                        sit.</strong></p>
            </div>
            <div class="divider"></div>
        </li>
        <li class="item">
            <div class="icon-area">
                <img src="../../../assets/icon-circle-filled-blue.svg" alt="Icon">
            </div>
            <div class="item-content">
                <p class="date">Yesterday</p>
                <p class="message">Received <strong>100 points</strong> for completing the Incentive <strong>Imperdiet senectus
                        sit.</strong></p>
            </div>
            <div class="divider"></div>
        </li>
        <li class="item">
            <div class="icon-area">
                <img src="../../../assets/icon-circle-filled-blue.svg" alt="Icon">
            </div>
            <div class="item-content">
                <p class="date">Yesterday</p>
                <p class="message">Received <strong>100 points</strong> for completing the Incentive <strong>Imperdiet senectus
                        sit.</strong></p>
            </div>
            <div class="divider"></div>
        </li>
    </ul>
</div>
