<div class="card-activity-feed">
  <header class="card-header">
    <h3 class="title">Activity Feed</h3>
    <p class="subtitle">Show Filters</p>
  </header>
  <ng-container *ngIf="data">
    <ul class="feed-list">
      <li class="item" *ngFor="let message of data">
        <div class="icon-area">
          <img src="../../../assets/icon-circle-filled-blue.svg" alt="Icon" />
        </div>
        <div class="item-content">
          <p class="date">{{ message.date | date: "MMMM d" }}</p>
          <p class="message">{{ message.description }}</p>
        </div>
        <div class="divider"></div>
      </li>
    </ul>
  </ng-container>
</div>
