/* You can add global styles to this file, and also import other style files */

@import '/src/assets/variables';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin: 0;
    color: $dark_blue;
}

* {
    box-sizing: border-box;
}

/* Scrollbar style */
/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #D7DBE7 white;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 5px;
    border-radius: 10px;
}

*::-webkit-scrollbar-track {
    background: white;
}

*::-webkit-scrollbar-thumb {
    background-color: #D7DBE7;
    border-radius: 8px;
    border: 3px solid white;
}

.divider {
    display: block;
    height: 1px;
    width: 100%;
    background-color: $secondary_gray;
    margin: 25px 0;
}
